body {
    background-color: rgb(51, 49, 49);
}

h1{
    color: white;
    font-size: 50px;
}

button {
    font-size: 25px;
    font-size: bold;
    color: black;
}

img{
    height: 600px;
    width: 2300px;
    margin-left: 40px;
}

.odin{
    height: 100px;
    width: 50px;
}

p{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

#container{
    display: flex;
}